


<!doctype html>
<html lang="en">
  <head>
  	<title>Footer 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
  </head>
  <body>
		<footer class="footer-04" style="background-color: #363636;">
			<div class="container" >
				<div class="row">
					<div class="col-md-10 col-lg-6 mb-md-0 mb-4">
          <img src="../../../assets/STlogo-300x165 4.png"alt=""
            height="30%"
            width="40%"
            >
						<p class="mt-4" style="color: #EBEBF5;">BMU seeks to transform higher education in India by creating a
              world-class and innovative teaching, learning and research
              environment. Founded by the Hero Group and mentored by
              Imperial College London, BMU is a not-for-profit initiative
              offering undergraduate and post-graduate courses.</p>
						</div>
					<div class="col-md-8 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Services</h2>
						<ul class="list-unstyled" >
              <li><a href="#" class="py-1 d-block" style="color: #EBEBF5" >Our Team</a></li>
              <li><a href="#" class="py-1 d-block" style="color: #EBEBF5">Carrer</a></li>
              <li><a href="#" class="py-1 d-block" style="color: #EBEBF5">Young Changemakers</a></li>
              <li><a href="#" class="py-1 d-block" style="color: #EBEBF5" >FAQ's</a></li>
              <li><a href="#" class="py-1 d-block" style="color: #EBEBF5">Contact Us</a></li>
            </ul>
					</div>

					<div class="col-md-8 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Subcribe For Updates</h2>
						<form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <button type="submit" class="form-control submit rounded-right" ><i class="bi bi-send" style="background-color: #EC1C24;"></i></button>
              </div>
            </form>
            <h2 class="footer-heading mt-5">Follow us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="bi bi-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="bi bi-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="bi bi-instagram"></span></a></li>
            </ul>
					</div>
				</div>
			</div>

			<div class="w-100 mt-5 border-top py-4 foot" style="background-color: #EC1C24; height:75px" >
				<div class="container foot">
					<div class="row">
	          <div class="col-md-6 col-lg-8">
	            <p class="copyright" style="color: #EBEBF5;">
	  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="ion-ios-heart" aria-hidden="true"></i><a>BML Munjal University,2022</a>
	          </div>
	          <div class="col-md-6 col-lg-4 text-md-right">
	          	<p class="mb-0 list-unstyled">
	          		<a class="mr-md-3 " style="color: #EBEBF5;">Made with heart by BMU</a>
	          	</p>
	          </div>
	        </div>
				</div>
			</div>
		</footer>
  </body>
</html>
