<div class="homeCards " style="height: 540px;margin: 0px;" >
  <div style="" class="box-container" style="">

    <!-- <div class="box">
      <div class="boxImageDiv">
        <img src="../../../../assets/toolCard_img1.PNG" class="boxImage" alt="">
      </div>
        <h3>What can surway do?</h3>
        <p>Enhance your Industry 4.0 transformation journey, identify key factors and compare results with industry peers!</p>
        <br>
        <a href="#" class="button">Learn More</a>
    </div>

    <div class="box">
        <img src="../../../../assets/toolCard_img2.PNG" class="boxImage" alt="">
        <h3>Start Self Assessment?</h3>
        <p>Select any available model in Surway and acquire comparative analysis based on the survey taken!</p>
        <br>
        <a  href="" class="button" data-target="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter">Select Model</a>
    </div>

    <div class="box">
        <img src="../../../../assets/toolCard_img3.PNG"  alt="">
        <h3>Leave a Review</h3>
        <p>Got feedback for our services? We'd love to hear it!
         <br> <b>You can leave us a review here!</b> </p>
        <br>
        <a href="#" class="button">Leave Review</a>
    </div> -->

    <div class="row" style="padding: 5%; justify-content:space-between">
      <!-- CARD 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 3%;">
        <div class="card" style="z-index: 999; height: 35rem; width: 620px; padding: 2rem; border-radius: 1.3rem; box-shadow: 3px 4px 6px 5px rgba(0,0,0,.1); margin-left: 15px; margin-right: auto;">
          <img class="card-img-top p-3" src="../../../../assets/toolCard_img1.PNG" style="width: 35%;  margin-left: auto; margin-right: auto;" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h3 class="card-title mb-2 mt-3" style="font-weight: 900; font-size:32px;color:#EC1C24">What can  surway do?</h3>
            <p class="card-text pc p-3 mt-2" style="font-size: 23px;color:black">Enhance your Industry 4.0 transformation journey, identify key factors and compare results with industry peers!</p>
          </div>
          <div class="card-body btn2" style="margin-left: auto; margin-right: auto;justify-content: center; align-items: center;">
            <a href="assets/bmu_banner.jpg" download="bmu_banner.jpg" class="btn button mb-2 " style="font-size: 23px;">Learn More</a>
          </div>
        </div>
      </div>

       <!-- CARD 2 -->
       <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 3%;">
        <div class="card" style="z-index: 999; height: 35rem; width:600px; padding: 2rem;margin-left:0px; border-radius: 1.3rem; box-shadow: 3px 4px 6px 5px rgba(0,0,0,.1); margin-left: auto; margin-right: auto;">
          <img class="card-img-top p-3" src="../../../../assets/toolCard_img2.PNG" style="width: 35%; margin-left: auto; margin-right: auto;" alt="Card image cap">
          <div class="card-body" style="text-align: center;">
            <h3 class="card-title mb-2 mt-3" style="font-weight: 900; font-size:32px;color:#EC1C24">Start Self Assessment</h3>
            <p class="card-text  pc p-3 mt-2" style="font-size: 23px;color:black">Select any available model in SMRI and acquire comparative analysis based on the survey taken!</p>
          </div>
          <div class="card-body" style="margin-left: auto; margin-right: auto; justify-content: center; align-items: center;">
            <a href="#" class="btn button" style="font-size: 23px;">Select Model</a>
          </div>
        </div>
      </div>



    </div>


  </div>

  <div class="homeCardBackground">
    <!-- <div class="blackBox">
      <img class="toolBoxImg4" src="../../../../assets/toolCard_img4.PNG" alt="">
    </div> -->

    <img class="toolBoxImg5" src="../../../../assets/toolCard_img5.PNG" width="100%" height="560" alt="">
  </div>
</div>


