

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}






/* NAVBAR CSS */

.newNav {
  font-size: 2rem;
  padding: 10px 30px;
  background: #000000 !important;
  height: fit-content;
}

.navDiv ul li {
  margin-right: 40px;
  margin-top: 10px;
}

.navDiv .loginButton {
  background: #e92f2f;
  color: white;
  border-radius: 10px;
  padding: 5px 32px;
  font-size: 0.86rem;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* font-weight: 700; */
  margin-left: 10px;
}

img.modalBanner {
  width: 8% !important;
}

.nav-link {
  color: white;
}

.ulc {
  /* background: red; */
}

.ulc li {
  font-size: 0.86rem;
  vertical-align: middle !important;
  margin-top: auto;
  margin-bottom: auto;
}

/* MODAL CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .loginModal {
  border-radius: 20rem !important;
} */

.loginModal img {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loginModal .modal-body {
  padding: 0;
}
.loginModal .modal-dialog {
  max-width: 1050px;
  z-index: 10000;
  margin-top: 4.2%;
  margin-left: 17.2%;
}
.loginModal .formWrap {
  margin-top: 3%;
  padding: 35px 45px;
  text-align: center;
}
.loginModal h1 {
  font-size: 26px;
  margin-bottom: 10px;
}
.loginModal hr {
  width: 100%;
  border: 4px solid #e92f2f;
  height: 2px;
  background: #e92f2f;
  border: none;
}
.loginModal form {
  margin-top: 35px;
}
.loginModal input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.loginModal input:focus {
  outline: #e92f2f;
  border-color: #e92f2f;
}
.loginModal .submit {
  background: #e92f2f;
  color: #fff;
  border: none;
  margin-top: 8%;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 0.95rem;
  align-items: center;
  width: 75%;
}
.loginModal h6 a {
  color: #e92f2f;
  font-weight: normal;
}
.loginModal h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 45px;
}
.loginModal p {
  margin-bottom: 0;
}
.loginModal p a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50px;
  border: 1px solid #e92f2f;
  color: #e92f2f;
  margin-right: 10px;
}

.signinButton {
  background: #e92f2f;
  border: 2px solid #d31f1f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 23px;
  font-size: 0.88rem;
  font-weight: 700;
  color: white;
  border-right: none;
}
.signupButton {
  background: white;
  border: 2px solid rgb(184, 182, 182);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 23px;
  font-size: 0.88rem;
  font-weight: 700;
  color: rgb(118, 113, 113);
  border-left: none;
}

.signinButton1 {
  background: white;
  border: 2px solid rgb(184, 182, 182);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 23px;
  font-size: 0.88rem;
  font-weight: 700;
  color: rgb(118, 113, 113);
  border-right: none;
}
.signupButton1 {
  background: #e92f2f;
  border: 2px solid #d31f1f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 23px;
  font-size: 0.88rem;
  font-weight: 700;
  color: white;
  border-left: none;
}

.emailField {
  background: url(../../../assets/email_icon.png) no-repeat right;
  padding-right: 25px !important;
  background-size: 20px;
  border-radius: 8px;
}

.emailField1 {
  padding-right: 25px !important;
  background-size: 20px;
  border-radius: 8px;
}

.passwordField {
  background-size: 20px;
  border-radius: 8px;
}

.forgotPw {
  color: #e92f2f;
  font-size: 0.8rem;
  float: right;
  background: none;
  border: none;
}

h1.hrcontent {
  overflow: hidden;
  text-align: center;
  margin-top: 4%;
  text-transform: none !important;
  font-size: 0.85rem !important;
  color: rgb(108, 102, 102);
}

h1.hrcontent::before,
h1.hrcontent::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1.hrcontent:before {
  right: 0.5em;
  margin-left: -50%;
}
h1.hrcontent:after {
  left: 0.5em;
  margin-right: -50%;
}

.loginModal .getNewCode {
  background: white;
  border: 2px solid #e92f2f;
  color: #e92f2f;
  border-radius: 20px;
  text-transform: none !important;
  font-weight: 800;
  font-size: 0.95rem;
  width: 75%;
}

.createAccLink {
  transform: translateY(-1px);
  color: #e92f2f;
  background: none;
  border: none;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  * {
    font-size: 82%;
  }

  .loginButton {
    font-size: 82% !important;
    padding: 4px 30px !important;
  }

  .navImg1 {
    /* background: red; */
    width: 63% !important;
  }

  .navImg2 {
    width: 10.7% !important;
  }
}

@media (max-width: 1125px) {
  * {
    font-size: 72%;
  }

  .loginButton {
    font-size: 74% !important;
    padding: 4px 30px !important;
  }

  .navImg1 {
    /* background: red; */
    width: 63% !important;
  }

  .navImg2 {
    width: 10.7% !important;
  }
}

@media (max-width: 1040px) {
  * {
    font-size: 72%;
  }
  .loginButton {
    font-size: 72% !important;
    padding: 3px 26px !important;
  }

  .navImg1 {
    /* background: red; */
    width: 61% !important;
  }
  .navImg2 {
    width: 10.3% !important;
  }
}

@media (max-width: 1018px) {
  * {
    font-size: 70%;
  }
  .loginButton {
    font-size: 70% !important;
    padding: 2.6px 23px !important;
  }

  .navImg1 {
    /* background: red; */
    width: 59% !important;
  }
  .navImg2 {
    width: 10% !important;
  }

  @media screen and (max-width: 450px) {

    .row>div>img{
      border: 2px solid green;
      height: 100px !important;
      width: 100px !important;
      display: none !important;

    }

    .modal{
      font-size:270px !important;
    }

  }
}





.profileIcon{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.userInfo{
  color: white;
  font-weight: 500;
  font-size: .9rem;
}

/* NAVBAR CSS ENDS */










h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #ef4000;
    margin: 0
}
h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}


.btn{
  background: red;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: linear-gradient(108deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 110%), url(../../../assets/bmu_banner.jpg) no-repeat;
  background-size: cover;
  /* background-size: 354; */
  background-position: center;
  position: relative;
}

.modalOpen{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background:  linear-gradient(to top, rgba(237, 44, 44, 0.89), rgba(0, 0, 0, 0) 110%), url(../../../assets/bmu_banner.jpg) no-repeat;
  background-size: cover;
  /* background-size: 354; */
  background-position: center;
  position: relative;
}

.home .content,
.modalOpen .content{
  text-align: center;
  padding: 2rem;
}

.home .content h1 ,
.modalOpen .content h1{
font-family: 'open Sans', serif;
  color:#fff;
  font-weight: 600;
  margin: 2em 0;
  padding-top: 10rem;
  width: 55%;
  text-align: left;
  margin-right: 50%;
  /* background: red; */
  margin-left: 5%;
}
/* h1 { font-size: large; } */


.home .content p,
.modalOpen .content p{
  font-family: Lobster;
  font-size: 6rem;
  color: #fff;
  width: 68rem;
  padding: 1rem 0;
}

.home .content .static-txt,
.modalOpen .content .static-txt{
  color: #fff;
  font-size: 6rem;
  font-family: 'Lobster';
  white-space: nowrap;
}

.home .content h1 .txt-rotate,
.modalOpen .content h1 .txt-rotate{
  color: #ef4000;
  font-family: 'Lobster', cursive;
}

.home .content h3,
.modalOpen .content h3{
  font-family: 'Pattaya', sans-serif;
  font-size: 6rem;
  color:#fff;
  font-weight: 200;
  margin: 0.4em 0;
  color: #ef4000;
}

.home .shape,
.modalOpen .shape{
  position: absolute;
  bottom: -.5rem; left: 0;
  height: 13rem;
  /* background: url('../images/shape-bottom.png'); */
  background-color: 350rem 13rem;
  width: 100%;
  animation: animate 25s linear infinite;
}

@keyframes animate{
  0%{
      background-position-x: 0;
  }
  100%{
      background-position-x: 350rem;
  }

}






                                  /* MODAL CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.loginModal{
  border-radius: 20rem !important;
}

.loginModal img{
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loginModal .modal-body{
  padding: 0;
}
.loginModal .modal-dialog{
  max-width: 800px;
  z-index: 10000;

}
.loginModal .formWrap{
  margin-top: 3%;
  padding: 35px 45px;
  text-align: center;
}
.loginModal h1{
  font-size: 26px;
  margin-bottom: 10px;
}

  hr.orangeHr{
    width: 100%;
    border: 4px solid #e92f2f;
    height: 2px;
    background: #e92f2f;
    border: none;
  }

.loginModal form{
  margin-top: 35px;
}
.loginModal input{
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.loginModal input:focus{
  outline: #e92f2f;
  border-color: #e92f2f;
}
.loginModal .submit{
  background: #e92f2f;
  color: #fff;
  border: none;
  margin-top: 8%;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: 800;
  font-size: .95rem;
  width: 75%;
}
.loginModal h6 a{
  color: #e92f2f;
  font-weight: normal;
}
.loginModal h5{
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 45px;
}
.loginModal p{
  margin-bottom: 0;
}
.loginModal p a{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50px;
  border: 1px solid #e92f2f;
  color: #e92f2f;
  margin-right: 10px;
}

.signinButton{
  background: #e92f2f;
  border: 2px solid #d31f1f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 23px;
  font-size: .88rem;
  font-weight: 700;
  color: white;
  border-right: none;
}
.signupButton{
  background: white;
  border: 2px solid rgb(184, 182, 182);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 23px;
  font-size: .88rem;
  font-weight: 700;
  color: rgb(118, 113, 113);
  border-left: none;
}

.signinButton1{
  background: white;
  border: 2px solid rgb(184, 182, 182);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 23px;
  font-size: .88rem;
  font-weight: 700;
  color: rgb(118, 113, 113);
  border-right: none;
}
.signupButton1{
  background: #e92f2f;
  border: 2px solid #d31f1f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 23px;
  font-size: .88rem;
  font-weight: 700;
  color: white;
  border-left: none;
}

.emailField{
  background: url(../../../assets/email_icon.png) no-repeat right;
  padding-right: 25px !important;
  background-size: 20px;
  border-radius: 8px;
}

.emailField1{
  padding-right: 25px !important;
  background-size: 20px;
  border-radius: 8px;
}

.passwordField{
  background-size: 20px;
  border-radius: 8px;
}

.forgotPw{
  color: #e92f2f;
  font-size: .8rem;
  float: right;
  background: none;
  border: none;
}

h1.hrcontent{
  overflow: hidden;
  text-align: center;
  margin-top: 4%;
  text-transform: none !important;
  font-size: .85rem !important;
  color: rgb(108, 102, 102);
}

h1.hrcontent::before, h1.hrcontent::after{
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1.hrcontent:before {
  right: 0.5em;
  margin-left: -50%;
}
h1.hrcontent:after {
  left: 0.5em;
  margin-right: -50%;
}

.loginModal .getNewCode{
  background: white;
  border: 2px solid #e92f2f;
  color: #e92f2f;
  border-radius: 20px;
  text-transform: none !important;
  font-weight: 800;
  font-size: .95rem;
  width: 75%;
}

.createAccLink{
  transform: translateY(-1px);
  color: #e92f2f;
  background: none;
  border: none;
}


































@media (max-width:460px){




.assessment{
  font-size: 15px !important;

  align-items: center;

}


.h2{
  font-size: 28px !important;
  text-align: center !important;
  width:95% !important ;

  margin-left: auto !important;
}

.card-body{
  width: 300px !important;

}

.card{
  border:2px solid black;
  margin-top: 10px !important;
}


.row{

  display: inline !important;
  margin-top: 10px !important;
}

.img{

  width: 10px !important;
  margin-top: 10px !important;
  /* transform: rotate(90deg) !important; */
  height: 10% !important;
  display: inline-flex !important;
  position: absolute;
  /* transform-origin: left top 0;
    white-space: nowrap; */

}

.img>img{
  height: 200px !important;
  margin-top: 30px !important;
}

.card-text{
  font-size: medium !important;
  width: 350px !important;
  margin-left: 5px;
}

.card-body>h5{
  font-size: 22px !important;
  margin-left: 5px;
}

.img2{
  height: 25% !important;
  width: 25% !important;
}

.row>div>button{
  text-align: center !important;
  align-items: center !important;
}



}
















/*
/* media queries  */

@media (max-width:768px){

  html{
      font-size: 55%;
  }

  header .header-2 #menu{
      display: block;
  }

  header .header-2 .navbar{
      position: absolute;
      top:100%; left: -120%;
  }

  header .header-2 .navbar ul{
      flex-flow: column;
      justify-content: center;
      min-height: calc(100vh - 6rem);
      padding-bottom: 6rem;
      background:#000;
      width: 32rem;
  }

  header .header-2 .navbar ul li{
      width: 100%;
      text-align: center;
  }

  header .header-2 .navbar ul li a{
      font-size: 2.7rem;
      display: block;
  }

  header .header-2 .fa-times{
      transform: rotate(180deg);
  }

  header .header-2 .nav-toggle{
      left:0;
  }

  .home .content h1,
  .modalOpen .content h1{
      font-size: 4rem !important;
      width: 90%;
      text-align: center;

      margin-left: auto;
      margin-right: auto;
  }

  .home .content p,
  .modalOpen .content p{
      width: auto;
  }

  .about .row{
      flex-flow: column;
  }

  .about .row .image img{
      width: 85%;
  }

}

@media (max-width:600px){

  .order form .inputBox input,
  .order form .inputBox select,
  .order form .inputBox textarea,
  .order form .inputBox #map{
      width: 100%;
  }

}

@media (max-width:400px){

  html{
      font-size: 50%;
  }

  header .header-1{
      flex-flow: column;
  }

  header .header-1 .logo{
      padding-bottom: 1rem;
  }

  header .header-2 .navbar ul{
      width: 100vw;
  }

  .order form{
      width: 95%;
  }

}




























/* media queries */
@media (max-width:768px){
  html{
      font-size: 55%;
  }
  header .header-2 #menu{
      display: block;
  }
  header .header-2 .navbar{
      position: absolute;
      top: 100%; left: -120%;
  }
  header .header-2 .navbar ul{
      flex-flow: column;
      justify-content: center;
      min-height: calc(100vh - 6rem);
      padding-bottom: 6rem;
      background: #000;
      width: 32rem;
  }
  header .header-2 .navbar ul li{
      width: 100%;
      text-align: center;
  }
  header .header-2 .navbar ul li a{
      font-size: 2.7rem;
      display: block;
  }
  header .header-2 .fa-times{
      transform: rotate(180deg);
  }
  header .header-2 .nav-toggle{
      left: 0;
  }
  .home .content h1,
  .modalOpen .content h1{
      font-size: 5rem;
  }
  .home .content p,
  .modalOpen .content p{
      width: auto;
  }

  .about .row{
      flex-flow: column;
  }
  .about .row .image img{
      width: 85%;
  }
}

@media (max-width:400px){
  html{
      font-size: 50%;
  }

  header .header-1{
      flex-flow: column;
  }
  header .header-1 .logo{
      padding-bottom: 1rem;
  }
  header .header-2 .navbar ul{
      width: 100vw;
  }
}
